FLASK_ENV=production

SECRET_KEY=hier-einen-langen-key-eintragen

DATABASE_URL=sqlite:////app/data/dienstplan.sqlite3

ADMIN_USERNAME=admin
ADMIN_PASSWORD=Ein-admin-passwort-definieren

ONE_POSITION_PER_SATURDAY=true

